<! - 사용자 정의 글꼴 ->
< 링크  REL = " 스타일 "  HREF = " //fonts.googleapis.com/css?family=Roboto:300,400,500,700 "  타입 = " 텍스트 / CSS " >

<! - FontAwesome 아이콘 ->
< link  rel = " stylesheet "  href = " https://use.fontawesome.com/74dfc6cf47.css " >

<! - 핵심 부트 스트랩 CSS ->
< link  rel = " stylesheet "  href = " https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css " >
<! - 소재 디자인 CSS ->
< link  rel = " stylesheet "  href = " {{site.baseurl}} / static / css / bootstrap-material-design.min.css " >

<! - 구문 강조 표시 CSS ->
< link  rel = " stylesheet "  href = " {{site.baseurl}} / static / css / syntax.css " >

<! - 사용자 정의 CSS ->        
< link  rel = " stylesheet "  href = " {{site.baseurl}} / static / css / thickbox.css " >
< link  rel = " stylesheet "  href = " {{site.baseurl}} / static / css / main.css " >
< link  rel = " stylesheet "  href = " {{site.baseurl}} / static / css / projects.css " >

< script  type = " text / javascript " >
  // loadingImage는 프로젝트 디렉토리에 상대적입니다.
  var tb_pathToImage =  " {{site.baseurl}} / static / img / loadingAnimation.gif " ;
</ script >